# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/
config/**/*.json

# Docs
docs/

# Dotenv file
.env
.env.ats

# Foundry coverage
lcov.info
coverage-html/

# Dependencies
node_modules/